<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">

        <li<%= sidebar_current("docs-home") %>>
            <a href="/docs/providers/index.html">&laquo; Documentation Home</a>
        </li>

        <li<%= sidebar_current("docs-jdcloud-index") %>>
            <a href="/docs/providers/jdcloud/index.html">JDCloud Provider</a>
        </li>

        <li<%= sidebar_current("docs-jdcloud-resource-elastic-computing") %>>
            <a href="#">ECS Resources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-jdcloud-resource-instance") %>>
                    <a href="/docs/providers/jdcloud/jdcloud_instance.html">jdcloud_instance</a>
                </li>
                <li<%= sidebar_current("docs-jdcloud-resource-instance-template") %>>
                    <a href="/docs/providers/jdcloud/jdcloud_instance_template.html">jdcloud_instance_template</a>
                </li>
                <li<%= sidebar_current("docs-jdcloud-availability-group") %>>
                    <a href="/docs/providers/jdcloud/jdcloud_availability_group.html">jdcloud_availability_group</a>
                </li>
                <li<%= sidebar_current("docs-jdcloud-ag-instance") %>>
                    <a href="/docs/providers/jdcloud/jdcloud_ag_instance.html">jdcloud_ag_instance</a>
                </li>
                <li<%= sidebar_current("docs-alicloud-resource-disk") %>>
                    <a href="/docs/providers/jdcloud/jdcloud_disk.html">jdcloud_disk</a>
                </li>
                <li<%= sidebar_current("docs-alicloud-resource-key-pairs") %>>
                    <a href="/docs/providers/jdcloud/jdcloud_key_pairs.html">jdcloud_key_pairs</a>
                </li>
                <li<%= sidebar_current("docs-jdcloud-resource-disk-attachment") %>>
                    <a href="/docs/providers/jdcloud/jdcloud_disk_attachment.html">jdcloud_disk_attachment</a>
                </li>
                <li<%= sidebar_current("docs-jdcloud-resource-security-group") %>>
                    <a href="/docs/providers/jdcloud/jdcloud_network_security_group.html">jdcloud_network_security_group</a>
                </li>
                <li<%= sidebar_current("docs-jdcloud-resource-security-group-rules") %>>
                    <a href="/docs/providers/jdcloud/jdcloud_network_security_group_rules.html">jdcloud_network_security_group_rules</a>
                </li>
            </ul>
        </li>


        <li<%= sidebar_current("docs-jdcloud-resource-network") %>>
            <a href="#">Network Resources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-jdcloud-resource-vpc") %>>
                    <a href="/docs/providers/jdcloud/jdcloud_vpc.html">jdcloud_vpc</a>
                </li>
                <li<%= sidebar_current("docs-jdcloud-resource-subnet") %>>
                    <a href="/docs/providers/jdcloud/jdcloud_subnet.html">jdcloud_subnet</a>
                </li>
                <li<%= sidebar_current("docs-jdcloud-resource-route-table") %>>
                    <a href="/docs/providers/jdcloud/jdcloud_route_table.html">jdcloud_route_table</a>
                </li>
                <li<%= sidebar_current("docs-jdcloud-resource-route-table-rules") %>>
                    <a href="/docs/providers/jdcloud/jdcloud_route_table_rules.html">jdcloud_route_table_rules</a>
                </li>
                <li<%= sidebar_current("docs-jdcloud-resource-network-interface") %>>
                    <a href="/docs/providers/jdcloud/jdcloud_network_interface.html">jdcloud_network_interface</a>
                </li>
                <li<%= sidebar_current("docs-jdcloud-resource-network-interface-attachment") %>>
                    <a href="/docs/providers/jdcloud/jdcloud_network_interface_attachment.html">jdcloud_network_interface_attachment</a>
                </li>
                <li<%= sidebar_current("docs-jdcloud-resource-network-acl") %>>
                    <a href="/docs/providers/jdcloud/jdcloud_network_acl.html">jdcloud_network_acl</a>
                </li>
                <li<%= sidebar_current("docs-jdcloud-resource-eip") %>>
                    <a href="/docs/providers/jdcloud/jdcloud_eip.html">jdcloud_eip</a>
                </li>
                <li<%= sidebar_current("docs-jdcloud-resource-eip-association") %>>
                    <a href="/docs/providers/jdcloud/jdcloud_eip_association.html">jdcloud_eip_association</a>
                </li>
            </ul>
        </li>


        <li<%= sidebar_current("docs-jdcloud-resource-rds") %>>
            <a href="#">RDS Resources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-jdcloud-resource-rds-instance") %>>
                    <a href="/docs/providers/jdcloud/jdcloud_rds_instance.html">jdcloud_rds_instance</a>
                </li>
                <li<%= sidebar_current("docs-jdcloud-resource-rds-database") %>>
                    <a href="/docs/providers/jdcloud/jdcloud_rds_database.html">jdcloud_rds_database</a>
                </li>
                <li<%= sidebar_current("docs-jdcloud-resource-rds-account") %>>
                    <a href="/docs/providers/jdcloud/jdcloud_rds_account.html">jdcloud_rds_account</a>
                </li>
                <li<%= sidebar_current("docs-jdcloud-resource-rds-privilege") %>>
                    <a href="/docs/providers/jdcloud/jdcloud_rds_privilege.html">jdcloud_rds_privilege</a>
                </li>
            </ul>
        </li>


        <li<%= sidebar_current("docs-jdcloud-resource-oss-bucket") %>>
            <a href="#">OSS Bucket Resources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-jdcloud-resource-oss-bucket") %>>
                    <a href="/docs/providers/jdcloud/jdcloud_oss_bucket.html">jdcloud_oss_bucket</a>
                </li>
                <li<%= sidebar_current("docs-jdcloud-resource-oss-bucket-upload") %>>
                    <a href="/docs/providers/jdcloud/jdcloud_oss_bucket_upload.html">jdcloud_oss_bucket_upload</a>
                </li>
            </ul>
        </li>


      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
